@import "../../styles/colors.scss";
.o-container-profile {
  background-color: #fafafa;
  padding: 1vh 8vw;
  box-sizing: border-box;
  &__top-bar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
  }
}
