$color-input-default: #8d8d8d;
$color-input-succes: #3f51b5;
$color-input-error: #f44336;
$color-shadow: rgba(0, 0, 0, 0.1);
$font-blue: #1786e0;
$bg-blue: #0071bc;
$color-border-button: rgba(22, 76, 167, 0.6);
